<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.kisel.focusinterrupter">
  <!-- Companion only: API34 permits delayed background focus requests. The game remains target36. -->
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
  <application android:label="Kisel Focus Interrupter" android:debuggable="true">
    <activity android:name=".FocusInterrupter" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
