<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_bomb_goblin__1606x1561</key>
		<dict>
			<key>frame</key>
			<string>{{383,396},{384,373}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,373}}</string>
			<key>sourceSize</key>
			<string>{384,373}</string>
		</dict>
		<key>enemy_ironhide_boar__1862x1681</key>
		<dict>
			<key>frame</key>
			<string>{{4,788},{384,347}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,347}}</string>
			<key>sourceSize</key>
			<string>{384,347}</string>
		</dict>
		<key>enemy_swamp_crocodile__1895x1429</key>
		<dict>
			<key>frame</key>
			<string>{{788,788},{384,290}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,290}}</string>
			<key>sourceSize</key>
			<string>{384,290}</string>
		</dict>
		<key>hero_bunny_assassin__1711x1827</key>
		<dict>
			<key>frame</key>
			<string>{{763,4},{360,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{360,384}}</string>
			<key>sourceSize</key>
			<string>{360,384}</string>
		</dict>
		<key>hero_elf_archer__1797x1858</key>
		<dict>
			<key>frame</key>
			<string>{{4,396},{371,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,384}}</string>
			<key>sourceSize</key>
			<string>{371,384}</string>
		</dict>
		<key>hero_fox_sorcerer__1828x1679</key>
		<dict>
			<key>frame</key>
			<string>{{1559,396},{384,353}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,353}}</string>
			<key>sourceSize</key>
			<string>{384,353}</string>
		</dict>
		<key>hero_ice_fairy__1718x1740</key>
		<dict>
			<key>frame</key>
			<string>{{1486,4},{379,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{379,384}}</string>
			<key>sourceSize</key>
			<string>{379,384}</string>
		</dict>
		<key>hero_inferno_dragon__1886x1748</key>
		<dict>
			<key>frame</key>
			<string>{{1167,396},{384,356}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,356}}</string>
			<key>sourceSize</key>
			<string>{384,356}</string>
		</dict>
		<key>hero_lion_knight__1616x1788</key>
		<dict>
			<key>frame</key>
			<string>{{1131,4},{347,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{347,384}}</string>
			<key>sourceSize</key>
			<string>{347,384}</string>
		</dict>
		<key>hero_owl_mage__1813x1760</key>
		<dict>
			<key>frame</key>
			<string>{{775,396},{384,373}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,373}}</string>
			<key>sourceSize</key>
			<string>{384,373}</string>
		</dict>
		<key>hero_panda_monk__1705x1775</key>
		<dict>
			<key>frame</key>
			<string>{{386,4},{369,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,384}}</string>
			<key>sourceSize</key>
			<string>{369,384}</string>
		</dict>
		<key>hero_raccoon_engineer__1617x1662</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{374,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{374,384}}</string>
			<key>sourceSize</key>
			<string>{374,384}</string>
		</dict>
		<key>hero_turtle_warrior__1815x1620</key>
		<dict>
			<key>frame</key>
			<string>{{396,788},{384,343}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,343}}</string>
			<key>sourceSize</key>
			<string>{384,343}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>battle_actors.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>battle_actors.png</string>
	</dict>
</dict>
</plist>
