<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss_frost_dragon__1995x1925</key>
		<dict>
			<key>frame</key>
			<string>{{4,1044},{512,494}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,494}}</string>
			<key>sourceSize</key>
			<string>{512,494}</string>
		</dict>
		<key>boss_infernal_dragon__1968x1659</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1044},{512,431}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,431}}</string>
			<key>sourceSize</key>
			<string>{512,431}</string>
		</dict>
		<key>boss_shadow_dragon__1974x1657</key>
		<dict>
			<key>frame</key>
			<string>{{4,1546},{512,430}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,430}}</string>
			<key>sourceSize</key>
			<string>{512,430}</string>
		</dict>
		<key>branding_logo__1448x1086</key>
		<dict>
			<key>frame</key>
			<string>{{524,1546},{512,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,384}}</string>
			<key>sourceSize</key>
			<string>{512,384}</string>
		</dict>
		<key>enemy_fire_lizard__1562x1651</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1546},{363,384}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,384}}</string>
			<key>sourceSize</key>
			<string>{363,384}</string>
		</dict>
		<key>enemy_poison_mushroom__1596x1576</key>
		<dict>
			<key>frame</key>
			<string>{{1415,1546},{384,379}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,379}}</string>
			<key>sourceSize</key>
			<string>{384,379}</string>
		</dict>
		<key>ui_frame_equipment_gold__1035x1545</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{343,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,512}}</string>
			<key>sourceSize</key>
			<string>{343,512}</string>
		</dict>
		<key>ui_frame_heart_wings__1728x1616</key>
		<dict>
			<key>frame</key>
			<string>{{524,1044},{512,479}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,479}}</string>
			<key>sourceSize</key>
			<string>{512,479}</string>
		</dict>
		<key>ui_frame_magic_gold__1289x1762</key>
		<dict>
			<key>frame</key>
			<string>{{355,4},{375,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,512}}</string>
			<key>sourceSize</key>
			<string>{375,512}</string>
		</dict>
		<key>ui_frame_orange_wings__1714x1662</key>
		<dict>
			<key>frame</key>
			<string>{{1044,524},{512,497}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,497}}</string>
			<key>sourceSize</key>
			<string>{512,497}</string>
		</dict>
		<key>ui_frame_purple_orb__1428x1440</key>
		<dict>
			<key>frame</key>
			<string>{{738,4},{508,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{508,512}}</string>
			<key>sourceSize</key>
			<string>{508,512}</string>
		</dict>
		<key>ui_frame_purple_shield__1628x1719</key>
		<dict>
			<key>frame</key>
			<string>{{1254,4},{485,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,512}}</string>
			<key>sourceSize</key>
			<string>{485,512}</string>
		</dict>
		<key>ui_panel_plain_navy__1126x2000</key>
		<dict>
			<key>frame</key>
			<string>{{1747,4},{288,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,512}}</string>
			<key>sourceSize</key>
			<string>{288,512}</string>
		</dict>
		<key>ui_wheel_outer_ring__1940x1924</key>
		<dict>
			<key>frame</key>
			<string>{{524,524},{512,508}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,508}}</string>
			<key>sourceSize</key>
			<string>{512,508}</string>
		</dict>
		<key>ui_wheel_sectors__figma_2_634</key>
		<dict>
			<key>frame</key>
			<string>{{4,524},{512,512}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meta_0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>meta_0.png</string>
	</dict>
</dict>
</plist>
