<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background_grass_platform__754x329</key>
		<dict>
			<key>frame</key>
			<string>{{4,1504},{512,223}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,223}}</string>
			<key>sourceSize</key>
			<string>{512,223}</string>
		</dict>
		<key>decoration_raccoon_castle__1254x1254</key>
		<dict>
			<key>frame</key>
			<string>{{1299,268},{254,245}}</string>
			<key>offset</key>
			<string>{0.0,5.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{254,245}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>equipment_bunny_assassin_crescent_axes__699x588</key>
		<dict>
			<key>frame</key>
			<string>{{1580,1504},{256,215}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,215}}</string>
			<key>sourceSize</key>
			<string>{256,215}</string>
		</dict>
		<key>equipment_bunny_assassin_ring__506x452</key>
		<dict>
			<key>frame</key>
			<string>{{796,1029},{256,229}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,229}}</string>
			<key>sourceSize</key>
			<string>{256,229}</string>
		</dict>
		<key>equipment_bunny_assassin_ring_band__455x424</key>
		<dict>
			<key>frame</key>
			<string>{{1317,532},{256,239}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,239}}</string>
			<key>sourceSize</key>
			<string>{256,239}</string>
		</dict>
		<key>equipment_elf_archer_coat__663x625</key>
		<dict>
			<key>frame</key>
			<string>{{789,532},{256,241}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,241}}</string>
			<key>sourceSize</key>
			<string>{256,241}</string>
		</dict>
		<key>equipment_elf_archer_ring__536x516</key>
		<dict>
			<key>frame</key>
			<string>{{771,268},{256,247}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,247}}</string>
			<key>sourceSize</key>
			<string>{256,247}</string>
		</dict>
		<key>equipment_ice_fairy_boots__578x556</key>
		<dict>
			<key>frame</key>
			<string>{{1035,268},{256,246}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,246}}</string>
			<key>sourceSize</key>
			<string>{256,246}</string>
		</dict>
		<key>equipment_inferno_dragon_chest__610x596</key>
		<dict>
			<key>frame</key>
			<string>{{507,268},{256,250}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,250}}</string>
			<key>sourceSize</key>
			<string>{256,250}</string>
		</dict>
		<key>equipment_lion_knight_chest__610x541</key>
		<dict>
			<key>frame</key>
			<string>{{532,1268},{256,227}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,227}}</string>
			<key>sourceSize</key>
			<string>{256,227}</string>
		</dict>
		<key>equipment_lion_knight_shield__458x423</key>
		<dict>
			<key>frame</key>
			<string>{{1581,532},{256,237}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,237}}</string>
			<key>sourceSize</key>
			<string>{256,237}</string>
		</dict>
		<key>equipment_owl_mage_ring_orb__499x469</key>
		<dict>
			<key>frame</key>
			<string>{{1053,532},{256,241}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,241}}</string>
			<key>sourceSize</key>
			<string>{256,241}</string>
		</dict>
		<key>equipment_panda_monk_chest__619x555</key>
		<dict>
			<key>frame</key>
			<string>{{1060,1029},{256,229}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,229}}</string>
			<key>sourceSize</key>
			<string>{256,229}</string>
		</dict>
		<key>equipment_panda_monk_orbs__669x551</key>
		<dict>
			<key>frame</key>
			<string>{{524,1735},{256,211}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,211}}</string>
			<key>sourceSize</key>
			<string>{256,211}</string>
		</dict>
		<key>equipment_panda_monk_ring__442x374</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1504},{256,217}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,217}}</string>
			<key>sourceSize</key>
			<string>{256,217}</string>
		</dict>
		<key>equipment_raccoon_engineer_cannon_large__625x565</key>
		<dict>
			<key>frame</key>
			<string>{{4,1029},{256,231}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,231}}</string>
			<key>sourceSize</key>
			<string>{256,231}</string>
		</dict>
		<key>equipment_raccoon_engineer_cannon_large__666x538</key>
		<dict>
			<key>frame</key>
			<string>{{1052,1735},{256,207}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,207}}</string>
			<key>sourceSize</key>
			<string>{256,207}</string>
		</dict>
		<key>equipment_raccoon_engineer_cannon_small__313x283</key>
		<dict>
			<key>frame</key>
			<string>{{268,1029},{256,231}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,231}}</string>
			<key>sourceSize</key>
			<string>{256,231}</string>
		</dict>
		<key>equipment_raccoon_engineer_cannon_small__333x269</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1735},{256,207}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,207}}</string>
			<key>sourceSize</key>
			<string>{256,207}</string>
		</dict>
		<key>equipment_raccoon_engineer_coat__651x566</key>
		<dict>
			<key>frame</key>
			<string>{{524,1504},{256,223}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,223}}</string>
			<key>sourceSize</key>
			<string>{256,223}</string>
		</dict>
		<key>equipment_raccoon_engineer_ring_clock__558x491</key>
		<dict>
			<key>frame</key>
			<string>{{796,1268},{256,225}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,225}}</string>
			<key>sourceSize</key>
			<string>{256,225}</string>
		</dict>
		<key>equipment_raccoon_engineer_ring_gem__497x460</key>
		<dict>
			<key>frame</key>
			<string>{{4,784},{256,237}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,237}}</string>
			<key>sourceSize</key>
			<string>{256,237}</string>
		</dict>
		<key>equipment_turtle_warrior_chest_plate__686x555</key>
		<dict>
			<key>frame</key>
			<string>{{1580,1735},{256,207}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,207}}</string>
			<key>sourceSize</key>
			<string>{256,207}</string>
		</dict>
		<key>equipment_turtle_warrior_chest_shell__608x522</key>
		<dict>
			<key>frame</key>
			<string>{{788,1504},{256,220}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,220}}</string>
			<key>sourceSize</key>
			<string>{256,220}</string>
		</dict>
		<key>equipment_turtle_warrior_ring__534x437</key>
		<dict>
			<key>frame</key>
			<string>{{788,1735},{256,209}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,209}}</string>
			<key>sourceSize</key>
			<string>{256,209}</string>
		</dict>
		<key>equipment_turtle_warrior_ring_orb__511x435</key>
		<dict>
			<key>frame</key>
			<string>{{1052,1504},{256,218}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,218}}</string>
			<key>sourceSize</key>
			<string>{256,218}</string>
		</dict>
		<key>equipment_turtle_warrior_ring_shell__514x487</key>
		<dict>
			<key>frame</key>
			<string>{{261,532},{256,243}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,243}}</string>
			<key>sourceSize</key>
			<string>{256,243}</string>
		</dict>
		<key>portrait_bunny_assassin__662x590</key>
		<dict>
			<key>frame</key>
			<string>{{4,1268},{256,228}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,228}}</string>
			<key>sourceSize</key>
			<string>{256,228}</string>
		</dict>
		<key>portrait_elf_archer__647x592</key>
		<dict>
			<key>frame</key>
			<string>{{1324,784},{256,234}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,234}}</string>
			<key>sourceSize</key>
			<string>{256,234}</string>
		</dict>
		<key>portrait_fox_sorcerer__642x592</key>
		<dict>
			<key>frame</key>
			<string>{{268,784},{256,236}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,236}}</string>
			<key>sourceSize</key>
			<string>{256,236}</string>
		</dict>
		<key>portrait_ice_fairy__660x590</key>
		<dict>
			<key>frame</key>
			<string>{{1324,1029},{256,229}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,229}}</string>
			<key>sourceSize</key>
			<string>{256,229}</string>
		</dict>
		<key>portrait_inferno_dragon__621x590</key>
		<dict>
			<key>frame</key>
			<string>{{525,532},{256,243}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,243}}</string>
			<key>sourceSize</key>
			<string>{256,243}</string>
		</dict>
		<key>portrait_lion_knight__661x606</key>
		<dict>
			<key>frame</key>
			<string>{{1060,784},{256,235}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,235}}</string>
			<key>sourceSize</key>
			<string>{256,235}</string>
		</dict>
		<key>portrait_owl_mage__621x592</key>
		<dict>
			<key>frame</key>
			<string>{{1561,268},{256,244}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,244}}</string>
			<key>sourceSize</key>
			<string>{256,244}</string>
		</dict>
		<key>portrait_panda_monk__648x590</key>
		<dict>
			<key>frame</key>
			<string>{{1588,784},{256,233}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,233}}</string>
			<key>sourceSize</key>
			<string>{256,233}</string>
		</dict>
		<key>portrait_raccoon_engineer__662x592</key>
		<dict>
			<key>frame</key>
			<string>{{1588,1029},{256,229}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,229}}</string>
			<key>sourceSize</key>
			<string>{256,229}</string>
		</dict>
		<key>portrait_turtle_warrior__660x592</key>
		<dict>
			<key>frame</key>
			<string>{{532,1029},{256,230}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,230}}</string>
			<key>sourceSize</key>
			<string>{256,230}</string>
		</dict>
		<key>relic_gold_hammer__474x528</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{230,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,256}}</string>
			<key>sourceSize</key>
			<string>{230,256}</string>
		</dict>
		<key>relic_green_disc__483x547</key>
		<dict>
			<key>frame</key>
			<string>{{242,4},{226,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,256}}</string>
			<key>sourceSize</key>
			<string>{226,256}</string>
		</dict>
		<key>relic_leaf_crescent__470x571</key>
		<dict>
			<key>frame</key>
			<string>{{476,4},{211,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,256}}</string>
			<key>sourceSize</key>
			<string>{211,256}</string>
		</dict>
		<key>relic_rabbit_mask__490x644</key>
		<dict>
			<key>frame</key>
			<string>{{695,4},{195,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,256}}</string>
			<key>sourceSize</key>
			<string>{195,256}</string>
		</dict>
		<key>relic_shadow_crystal__469x599</key>
		<dict>
			<key>frame</key>
			<string>{{898,4},{200,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,256}}</string>
			<key>sourceSize</key>
			<string>{200,256}</string>
		</dict>
		<key>relic_wolf_mask__479x633</key>
		<dict>
			<key>frame</key>
			<string>{{1106,4},{194,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,256}}</string>
			<key>sourceSize</key>
			<string>{194,256}</string>
		</dict>
		<key>reward_gold_chest__1254x1254</key>
		<dict>
			<key>frame</key>
			<string>{{1308,4},{256,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>reward_gold_chest__1254x1254_variant2</key>
		<dict>
			<key>frame</key>
			<string>{{4,532},{249,244}}</string>
			<key>offset</key>
			<string>{-2.5,2.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{249,244}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ui_icon_blue_triangle__1484x1322</key>
		<dict>
			<key>frame</key>
			<string>{{268,1268},{256,228}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,228}}</string>
			<key>sourceSize</key>
			<string>{256,228}</string>
		</dict>
		<key>ui_icon_crown__353x325</key>
		<dict>
			<key>frame</key>
			<string>{{532,784},{256,236}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,236}}</string>
			<key>sourceSize</key>
			<string>{256,236}</string>
		</dict>
		<key>ui_icon_heart__474x437</key>
		<dict>
			<key>frame</key>
			<string>{{796,784},{256,236}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,236}}</string>
			<key>sourceSize</key>
			<string>{256,236}</string>
		</dict>
		<key>ui_icon_star__478x497</key>
		<dict>
			<key>frame</key>
			<string>{{1572,4},{246,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,256}}</string>
			<key>sourceSize</key>
			<string>{246,256}</string>
		</dict>
		<key>ui_icon_sword__525x536</key>
		<dict>
			<key>frame</key>
			<string>{{4,268},{251,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,256}}</string>
			<key>sourceSize</key>
			<string>{251,256}</string>
		</dict>
		<key>ui_icon_upgrade_arrow__1302x1413</key>
		<dict>
			<key>frame</key>
			<string>{{263,268},{236,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,256}}</string>
			<key>sourceSize</key>
			<string>{236,256}</string>
		</dict>
		<key>ui_panel_gold_black_wide__3815x1593</key>
		<dict>
			<key>frame</key>
			<string>{{4,1735},{512,214}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,214}}</string>
			<key>sourceSize</key>
			<string>{512,214}</string>
		</dict>
		<key>ui_panel_stats_black__966x425</key>
		<dict>
			<key>frame</key>
			<string>{{1060,1268},{512,225}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,225}}</string>
			<key>sourceSize</key>
			<string>{512,225}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meta_2.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>meta_2.png</string>
	</dict>
</dict>
</plist>
