<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>background_dungeon_frost_strip__2172x724</key>
		<dict>
			<key>frame</key>
			<string>{{1387,4},{512,171}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,171}}</string>
			<key>sourceSize</key>
			<string>{512,171}</string>
		</dict>
		<key>background_dungeon_infernal_strip__2172x724</key>
		<dict>
			<key>frame</key>
			<string>{{4,203},{512,171}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,171}}</string>
			<key>sourceSize</key>
			<string>{512,171}</string>
		</dict>
		<key>background_dungeon_shadow_bright_strip__2172x724</key>
		<dict>
			<key>frame</key>
			<string>{{524,203},{512,171}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,171}}</string>
			<key>sourceSize</key>
			<string>{512,171}</string>
		</dict>
		<key>branding_welcome_text__2172x724</key>
		<dict>
			<key>frame</key>
			<string>{{1564,203},{399,169}}</string>
			<key>offset</key>
			<string>{-7.5,-1.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,2},{399,169}}</string>
			<key>sourceSize</key>
			<string>{512,171}</string>
		</dict>
		<key>branding_welcome_text__2172x724_variant2</key>
		<dict>
			<key>frame</key>
			<string>{{1044,203},{512,171}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,171}}</string>
			<key>sourceSize</key>
			<string>{512,171}</string>
		</dict>
		<key>equipment_bunny_assassin_axes__715x516</key>
		<dict>
			<key>frame</key>
			<string>{{268,4},{256,185}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,185}}</string>
			<key>sourceSize</key>
			<string>{256,185}</string>
		</dict>
		<key>equipment_raccoon_engineer_chest_machine__668x500</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{256,191}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,191}}</string>
			<key>sourceSize</key>
			<string>{256,191}</string>
		</dict>
		<key>ui_banner_name_purple__959x176</key>
		<dict>
			<key>frame</key>
			<string>{{921,382},{256,47}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,47}}</string>
			<key>sourceSize</key>
			<string>{256,47}</string>
		</dict>
		<key>ui_banner_stage_blue__3876x605</key>
		<dict>
			<key>frame</key>
			<string>{{1185,382},{256,40}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,40}}</string>
			<key>sourceSize</key>
			<string>{256,40}</string>
		</dict>
		<key>ui_button_gold__2378x1300</key>
		<dict>
			<key>frame</key>
			<string>{{4,382},{256,140}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,140}}</string>
			<key>sourceSize</key>
			<string>{256,140}</string>
		</dict>
		<key>ui_button_orange__2542x1359</key>
		<dict>
			<key>frame</key>
			<string>{{268,382},{256,137}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,137}}</string>
			<key>sourceSize</key>
			<string>{256,137}</string>
		</dict>
		<key>ui_icon_close__figma_2_121</key>
		<dict>
			<key>frame</key>
			<string>{{867,382},{46,49}}</string>
			<key>offset</key>
			<string>{-0.5,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{46,49}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>ui_panel_gold_navy_wide__2339x828</key>
		<dict>
			<key>frame</key>
			<string>{{532,4},{512,181}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,181}}</string>
			<key>sourceSize</key>
			<string>{512,181}</string>
		</dict>
		<key>ui_panel_settings_audio__figma_2_190</key>
		<dict>
			<key>frame</key>
			<string>{{1052,4},{327,175}}</string>
			<key>offset</key>
			<string>{0.5,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{327,175}}</string>
			<key>sourceSize</key>
			<string>{328,175}</string>
		</dict>
		<key>ui_panel_settings_toggles__figma_2_191</key>
		<dict>
			<key>frame</key>
			<string>{{532,382},{327,134}}</string>
			<key>offset</key>
			<string>{0.5,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{327,134}}</string>
			<key>sourceSize</key>
			<string>{328,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meta_3.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>meta_3.png</string>
	</dict>
</dict>
</plist>
