<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>branding_hero_collage__1536x1024</key>
		<dict>
			<key>frame</key>
			<string>{{1276,4},{512,341}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,341}}</string>
			<key>sourceSize</key>
			<string>{512,341}</string>
		</dict>
		<key>branding_hero_collage__1536x1024_variant2</key>
		<dict>
			<key>frame</key>
			<string>{{4,376},{512,341}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,341}}</string>
			<key>sourceSize</key>
			<string>{512,341}</string>
		</dict>
		<key>branding_logo__1448x1086_variant2</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{480,364}}</string>
			<key>offset</key>
			<string>{0.0,-1.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,11},{480,364}}</string>
			<key>sourceSize</key>
			<string>{512,384}</string>
		</dict>
		<key>currency_blue_orb__545x554</key>
		<dict>
			<key>frame</key>
			<string>{{1700,376},{252,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,256}}</string>
			<key>sourceSize</key>
			<string>{252,256}</string>
		</dict>
		<key>decoration_raccoon_castle__1254x1254_variant2</key>
		<dict>
			<key>frame</key>
			<string>{{4,725},{256,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>enemy_dark_bat_mage__1888x1531</key>
		<dict>
			<key>frame</key>
			<string>{{1308,376},{384,311}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,311}}</string>
			<key>sourceSize</key>
			<string>{384,311}</string>
		</dict>
		<key>enemy_iron_beetle__1835x1638</key>
		<dict>
			<key>frame</key>
			<string>{{884,4},{384,343}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,343}}</string>
			<key>sourceSize</key>
			<string>{384,343}</string>
		</dict>
		<key>enemy_shadow_wolf__1783x1677</key>
		<dict>
			<key>frame</key>
			<string>{{492,4},{384,361}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,361}}</string>
			<key>sourceSize</key>
			<string>{384,361}</string>
		</dict>
		<key>enemy_stone_gargoyle__1789x1558</key>
		<dict>
			<key>frame</key>
			<string>{{524,376},{384,334}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,334}}</string>
			<key>sourceSize</key>
			<string>{384,334}</string>
		</dict>
		<key>enemy_toxic_slime__1654x1388</key>
		<dict>
			<key>frame</key>
			<string>{{916,376},{384,322}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,322}}</string>
			<key>sourceSize</key>
			<string>{384,322}</string>
		</dict>
		<key>equipment_bunny_assassin_chest__567x656</key>
		<dict>
			<key>frame</key>
			<string>{{268,725},{221,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,256}}</string>
			<key>sourceSize</key>
			<string>{221,256}</string>
		</dict>
		<key>equipment_bunny_assassin_pants__522x580</key>
		<dict>
			<key>frame</key>
			<string>{{497,725},{231,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,256}}</string>
			<key>sourceSize</key>
			<string>{231,256}</string>
		</dict>
		<key>equipment_elf_archer_boots__497x535</key>
		<dict>
			<key>frame</key>
			<string>{{736,725},{238,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,256}}</string>
			<key>sourceSize</key>
			<string>{238,256}</string>
		</dict>
		<key>equipment_elf_archer_bow__561x739</key>
		<dict>
			<key>frame</key>
			<string>{{982,725},{195,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,256}}</string>
			<key>sourceSize</key>
			<string>{195,256}</string>
		</dict>
		<key>equipment_elf_archer_hood__622x656</key>
		<dict>
			<key>frame</key>
			<string>{{1185,725},{243,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,256}}</string>
			<key>sourceSize</key>
			<string>{243,256}</string>
		</dict>
		<key>equipment_elf_archer_hood_fur__684x714</key>
		<dict>
			<key>frame</key>
			<string>{{1436,725},{245,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,256}}</string>
			<key>sourceSize</key>
			<string>{245,256}</string>
		</dict>
		<key>equipment_elf_archer_quiver__519x688</key>
		<dict>
			<key>frame</key>
			<string>{{1689,725},{193,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,256}}</string>
			<key>sourceSize</key>
			<string>{193,256}</string>
		</dict>
		<key>equipment_elf_archer_ring_leaf__529x544</key>
		<dict>
			<key>frame</key>
			<string>{{4,989},{249,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,256}}</string>
			<key>sourceSize</key>
			<string>{249,256}</string>
		</dict>
		<key>equipment_fox_sorcerer_ring__452x543</key>
		<dict>
			<key>frame</key>
			<string>{{261,989},{213,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,256}}</string>
			<key>sourceSize</key>
			<string>{213,256}</string>
		</dict>
		<key>equipment_fox_sorcerer_ring_mask__461x515</key>
		<dict>
			<key>frame</key>
			<string>{{482,989},{229,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,256}}</string>
			<key>sourceSize</key>
			<string>{229,256}</string>
		</dict>
		<key>equipment_fox_sorcerer_staff__462x747</key>
		<dict>
			<key>frame</key>
			<string>{{719,989},{158,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,256}}</string>
			<key>sourceSize</key>
			<string>{158,256}</string>
		</dict>
		<key>equipment_fox_sorcerer_staff_orb__535x811</key>
		<dict>
			<key>frame</key>
			<string>{{885,989},{169,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,256}}</string>
			<key>sourceSize</key>
			<string>{169,256}</string>
		</dict>
		<key>equipment_ice_fairy_ring_gem__465x536</key>
		<dict>
			<key>frame</key>
			<string>{{1062,989},{222,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,256}}</string>
			<key>sourceSize</key>
			<string>{222,256}</string>
		</dict>
		<key>equipment_ice_fairy_ring_snowflake__484x545</key>
		<dict>
			<key>frame</key>
			<string>{{1292,989},{227,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,256}}</string>
			<key>sourceSize</key>
			<string>{227,256}</string>
		</dict>
		<key>equipment_ice_fairy_robe__670x754</key>
		<dict>
			<key>frame</key>
			<string>{{1527,989},{227,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,256}}</string>
			<key>sourceSize</key>
			<string>{227,256}</string>
		</dict>
		<key>equipment_ice_fairy_staff_snowflake__583x881</key>
		<dict>
			<key>frame</key>
			<string>{{1762,989},{169,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,256}}</string>
			<key>sourceSize</key>
			<string>{169,256}</string>
		</dict>
		<key>equipment_ice_fairy_staff_spear__435x899</key>
		<dict>
			<key>frame</key>
			<string>{{4,1253},{124,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,256}}</string>
			<key>sourceSize</key>
			<string>{124,256}</string>
		</dict>
		<key>equipment_inferno_dragon_ring__306x425</key>
		<dict>
			<key>frame</key>
			<string>{{136,1253},{184,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,256}}</string>
			<key>sourceSize</key>
			<string>{184,256}</string>
		</dict>
		<key>equipment_inferno_dragon_ring_gem__328x398</key>
		<dict>
			<key>frame</key>
			<string>{{328,1253},{211,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,256}}</string>
			<key>sourceSize</key>
			<string>{211,256}</string>
		</dict>
		<key>equipment_inferno_dragon_robe__521x524</key>
		<dict>
			<key>frame</key>
			<string>{{547,1253},{255,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,256}}</string>
			<key>sourceSize</key>
			<string>{255,256}</string>
		</dict>
		<key>equipment_inferno_dragon_spear__628x784</key>
		<dict>
			<key>frame</key>
			<string>{{810,1253},{205,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,256}}</string>
			<key>sourceSize</key>
			<string>{205,256}</string>
		</dict>
		<key>equipment_inferno_dragon_sword__557x803</key>
		<dict>
			<key>frame</key>
			<string>{{1023,1253},{177,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,256}}</string>
			<key>sourceSize</key>
			<string>{177,256}</string>
		</dict>
		<key>equipment_lion_knight_hammer__509x696</key>
		<dict>
			<key>frame</key>
			<string>{{1208,1253},{187,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,256}}</string>
			<key>sourceSize</key>
			<string>{187,256}</string>
		</dict>
		<key>equipment_lion_knight_helmet__491x628</key>
		<dict>
			<key>frame</key>
			<string>{{1403,1253},{200,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,256}}</string>
			<key>sourceSize</key>
			<string>{200,256}</string>
		</dict>
		<key>equipment_lion_knight_sword__486x750</key>
		<dict>
			<key>frame</key>
			<string>{{1611,1253},{166,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,256}}</string>
			<key>sourceSize</key>
			<string>{166,256}</string>
		</dict>
		<key>equipment_owl_mage_ring_crescent__413x553</key>
		<dict>
			<key>frame</key>
			<string>{{1785,1253},{191,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,256}}</string>
			<key>sourceSize</key>
			<string>{191,256}</string>
		</dict>
		<key>equipment_owl_mage_robe_crescent__611x673</key>
		<dict>
			<key>frame</key>
			<string>{{4,1517},{233,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,256}}</string>
			<key>sourceSize</key>
			<string>{233,256}</string>
		</dict>
		<key>equipment_owl_mage_robe_orb__533x651</key>
		<dict>
			<key>frame</key>
			<string>{{245,1517},{209,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,256}}</string>
			<key>sourceSize</key>
			<string>{209,256}</string>
		</dict>
		<key>equipment_owl_mage_staff_crescent__394x792</key>
		<dict>
			<key>frame</key>
			<string>{{462,1517},{127,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,256}}</string>
			<key>sourceSize</key>
			<string>{127,256}</string>
		</dict>
		<key>equipment_owl_mage_staff_owl__478x836</key>
		<dict>
			<key>frame</key>
			<string>{{597,1517},{147,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,256}}</string>
			<key>sourceSize</key>
			<string>{147,256}</string>
		</dict>
		<key>equipment_panda_monk_pants__537x568</key>
		<dict>
			<key>frame</key>
			<string>{{752,1517},{242,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,256}}</string>
			<key>sourceSize</key>
			<string>{242,256}</string>
		</dict>
		<key>equipment_panda_monk_staff__623x626</key>
		<dict>
			<key>frame</key>
			<string>{{1002,1517},{255,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,256}}</string>
			<key>sourceSize</key>
			<string>{255,256}</string>
		</dict>
		<key>equipment_turtle_warrior_hammer__562x646</key>
		<dict>
			<key>frame</key>
			<string>{{1265,1517},{223,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,256}}</string>
			<key>sourceSize</key>
			<string>{223,256}</string>
		</dict>
		<key>equipment_turtle_warrior_mace__583x649</key>
		<dict>
			<key>frame</key>
			<string>{{1496,1517},{230,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,256}}</string>
			<key>sourceSize</key>
			<string>{230,256}</string>
		</dict>
		<key>relic_blue_crescent__505x579</key>
		<dict>
			<key>frame</key>
			<string>{{1734,1517},{223,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,256}}</string>
			<key>sourceSize</key>
			<string>{223,256}</string>
		</dict>
		<key>relic_blue_feather__473x665</key>
		<dict>
			<key>frame</key>
			<string>{{4,1781},{182,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,256}}</string>
			<key>sourceSize</key>
			<string>{182,256}</string>
		</dict>
		<key>relic_blue_shard__354x641</key>
		<dict>
			<key>frame</key>
			<string>{{194,1781},{141,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,256}}</string>
			<key>sourceSize</key>
			<string>{141,256}</string>
		</dict>
		<key>relic_boar_mask__510x544</key>
		<dict>
			<key>frame</key>
			<string>{{343,1781},{240,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,256}}</string>
			<key>sourceSize</key>
			<string>{240,256}</string>
		</dict>
		<key>relic_compass_gold__538x602</key>
		<dict>
			<key>frame</key>
			<string>{{591,1781},{229,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,256}}</string>
			<key>sourceSize</key>
			<string>{229,256}</string>
		</dict>
		<key>relic_fire_crystal__447x635</key>
		<dict>
			<key>frame</key>
			<string>{{828,1781},{180,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,256}}</string>
			<key>sourceSize</key>
			<string>{180,256}</string>
		</dict>
		<key>relic_fire_dragon_head__406x576</key>
		<dict>
			<key>frame</key>
			<string>{{1016,1781},{180,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,256}}</string>
			<key>sourceSize</key>
			<string>{180,256}</string>
		</dict>
		<key>relic_frost_dragon_head__471x629</key>
		<dict>
			<key>frame</key>
			<string>{{1204,1781},{192,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>relic_gold_bird_mask__527x591</key>
		<dict>
			<key>frame</key>
			<string>{{1404,1781},{228,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,256}}</string>
			<key>sourceSize</key>
			<string>{228,256}</string>
		</dict>
		<key>relic_gold_dragon_head__455x633</key>
		<dict>
			<key>frame</key>
			<string>{{1640,1781},{184,256}}</string>
			<key>offset</key>
			<string>{0.0,0.0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,256}}</string>
			<key>sourceSize</key>
			<string>{184,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meta_1.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>meta_1.png</string>
	</dict>
</dict>
</plist>
